* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: raleway-c;
}

body {
	background-image: url(../img/bg.jpg);
	background-size: 50px;
	color: #fafafa;
	font-family: raleway-c;
	overflow-x: hidden;
    padding-top: 50px;
}

.header {
    text-decoration: none;
    display: block;
    cursor: pointer;
    background-color:rgb(199, 158, 22);
    padding: 5px 0px;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.container1 {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin: 100px auto;
    color: #333;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input, textarea, button {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
}

textarea {
    resize: none;
}

button {
    margin-top: 15px;
    background-color: rgb(199, 158, 22);
    color: #000000;
    font-weight: 600;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    border-radius: 25px;
    font-size: 16px;
    border: 2px solid transparent;
    transition: all 0.3s ease;
    border-color: #000000;
}

button:hover {
    color: #ffffff;
    background: #312f2c;
    border-color: #000000;
}