* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: url(../img/bg.jpg);
	background-size: 50px;
	color: #fafafa;
	font-family: raleway-c;
	overflow-x: hidden;
  padding-top: 50px;
}

.header {
  text-decoration: none;
  display: block;
  cursor: pointer;
  background-color:rgb(199, 158, 22);
  padding: 5px 0px;
  font-size: 16px;
  text-align: center;
  font-weight: 500;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.search-container {
    margin: 15px 15px 15px 15px;
}

  .search-input {
    padding: 10px;
    width: 100%;
    font-size: 20px;
  }

  .search-results {
    margin-top: 20px;
  }

  .medicine-card {
    text-decoration: none;
    display: block;
    color: black;
    padding: 10px 0px;
    cursor: pointer;
    border-bottom: 2px solid rgb(199, 158, 22);
    padding-left: 10px;
}

.medicine-card__title {
    text-decoration: none;
    display: block;
    color: white;
    font-size: 30px;
    margin-bottom: 8px;
}

.button-link {
  text-decoration: none;
}