* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: url(../img/bg.jpg);
	background-size: 50px;
	color: #fafafa;
	font-family: raleway-c;
	overflow-x: hidden;
    padding-top: 50px;
    overflow: hidden;
}

.header {
    text-decoration: none;
    display: block;
    cursor: pointer;
    background-color:rgb(199, 158, 22);
    padding: 5px 0px;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.container-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    text-align: center;
}

.title-par {
    margin: 5px 0;
}